/* styles for my resume */

BODY {
    font-family: 'Open Sans', arial, sans-serif;
    font-size:1em;
    color: #444;
    font-weight: 400;
}

#container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;


}

/*name*/
#name {
    font-size: 3.5em;
    text-transform: uppercase;
    color: #33485e;
    text-align: center;
    border-bottom: 1px solid #33485e;
    width: 60%;
    min-width: 300px;
    margin: 0 auto; 

}

/*titles*/
.jobtitle {
    color:#33485e;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
}

/*section titles*/
.sectionheader {
    background-color: #33485e;
    color: white;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 0;
    margin-left: 0;
    width: 70%;
    min-width: 300px;
}

/*job titles*/
.jobtitle {
    font-weight: 600;
    font-size: 2em;
}

/*job organization*/
.organization {
    font-weight: 400;
    font-size: 1.5em;
}

/*job dates*/
.date {
    font-weight: 400;
    font-size: 1em;
    font-style: italic;
    margin-top: 3px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}


.description {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;

}

.menu {
    margin: 0 auto;
    text-align: center;
    display: inline;
}

#degrees {
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

#do {
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
