BODY {
  font-family: 'PT Serif', serif;
}


.container {
  margin: 0 auto;
  width:100%;
  max-width: 1000px;
}

p {
  text-align:left;
  line-height:180%;
}

/*there's not any information in this selector section? I guess the sizing/positioning/additional info is needed*/
.splash_photo {
  max-width: 100%;
  margin: 0 auto;


}


.navbar {
  font-family: 'Oswald', sans-serif;

}

/*instead of hed, changed to headline. also border-top changed to match border-bottom information and aligned center?*/
.headline {
  margin-top: 1em;
  margin-bottom:1em;
  border-top: 5px solid red;
  border-bottom: 5px solid red;
  font-size:3em;
  font-family: 'Oswald', sans-serif;
  font-weight:700;
  text-align: center;
}


.byline {
  font-size:1em;
  text-transform:uppercase;
  font-family: 'Oswald', sans-serif;

}

.chapter-head {
  font-size:2em;
  font-family: 'Oswald', sans-serif;
  padding-top:20px;
  font-weight:700;
}

.stack-image {
  width:100%;
  max-width:900px;
  margin:0 auto;
  padding-top:30px;
  padding-bottom: 15px;
  height:100%;
  align-items: center;
  display: flex;
}

/*width was 10% but now 100%*/
.caption {
  width:100%;
  max-width:900px;
  margin:0 auto;
  margin-bottom:30px;
  padding-bottom: 1em;
  font-family: 'Oswald', sans-serif;
  color:#999;
  display: flex;

}

.footer {
  background: #000;
  height:100px;
  min-height: 100px;
  padding-top:25px;
  margin-top:100px;
}

/*footer text wasn't visible, turned it white*/
.footer p {
  font-family: 'Oswald', sans-serif;
  color: white;

}

.main-text {
font-family: Arial, sans-serif;
font-size: 14px;
color: black;
padding-top:1em;
}

.col-md-6 {
  margin-bottom: 4em;
  
}

.col-md-6 img {
  margin: 0 auto;
  padding-left: 100px;
 

}

/*not properly structured selector/descriptors*/

/* commented out? 
@media(max-width:550px) {
  p {
    padding-left:20px;
    padding-right:10px;
  }

  .chapter-head {
    font-size:1.25em;
  }

  .hed {
    font-size:2em;
  }

*/
