
/* styles for the skate news thing */

    
/* not sure if this is the best way to add the images? */

.col-md-6 {
    align-items: center;

}

.col-md-6 img {
    width: 100%;
    max-width: 500px;
    align-items: center;
}

