
/* styles for the skate news thing */

    
/* not sure if this is the best way to add the images? */
.col-md-6 img {
    width: 100%;
    max-width: 500px;
    
}

.col-md-6 {
    text-align: center;
    }

.btn {
    margin-top: 25px;
    font-family: 'Special Elite', sans-serif;
}

h1 {
    font-family: 'Special Elite', sans-serif;
}

h2 {
    text-align: center;
    font-family: 'Special Elite', sans-serif;
}

h3 {
    font-family: 'Special Elite', sans-serif;
}

p {
    text-align: center;
    
}
.row {
    align-items: center;
}

.bi {
    font-size:3em;

    }
  
.col-md-4 {
    text-align: center;
   
    }
    
.bigicon {
    font-size:5em;
    }

.navbar-brand {
    font-family: 'Special Elite', sans-serif;
}